<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
</head>
<body>
    <img width="320" height="240" src="http://192.168.43.27:8080/?action=stream">
    <input type="range" max="100" min="0" id="range" />
    <br />
    <i style="margin-left: 25px" id="upButton" class="fas fa-arrow-alt-circle-up fa-3x"></i>
    <br />
    <i id="leftButton" class="fas fa-arrow-alt-circle-left fa-3x"></i>
    <i id="rightButton" class="fas fa-arrow-alt-circle-right fa-3x"></i>
    <br />
    <i style="margin-left: 25px" id="downButton" class="fas fa-arrow-alt-circle-down fa-3x"></i>
    <br />
    <br />
    <i id="light" class="far fa-lightbulb fa-3x"></i>
    <script src="../static/application.js"></script>
</body>
</html>